# Ignorar archivos CSV en la carpeta DATA
DATA/*.csv
DATA/*.CSV

# Ignorar posibles archivos Excel o comprimidos que pudieran contener los datos
DATA/*.xlsx
DATA/*.xls
DATA/*.zip

# Ignorar archivos temporales de sistema
.DS_Store
Thumbs.db

# Ignorar entornos virtuales
venv/
env/
.venv/
.env/

# Ignorar archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/